doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/public/style.css")
    //- link(rel="stylesheet", href="http://unpkg.com/mvp.css")
    title=title
    script(src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous")

  body
    p.name=lawyerName
    p.name=userName
    #chat_view
      h2.roomNameBox=`방제 : ${title}`
      h3#title_username.roomNameBox="의뢰인 : "
      h3#title_lawyername.roomNameBox="변호사 : "
      #chats
      form#type
        input(name='text')
        button(type="submit") 전송
    form(action="/", method="post")
      input(type="hidden", name="title", value=`${title}`)
      button#deleteBtn 나가기

    script(src="/public/chat.js")
    script.
      var lawyerId = "${lawyerId}";
      var lawyerName = "${lawyerName}";
      var lawyerIdx = "${lawyerIdx}";